<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<sws:annotation-driven />

	<!-- configuration for dynamic generation of soap webservice wsdl -->
	<sws:dynamic-wsdl id="elibrary" portTypeName="elibrary"
		locationUri="/app/soap/" targetNamespace="http://hind.com/elibrary/webservice/soap/model">
		<sws:xsd location="classpath:com/hind/elibrary/webservice/soap/elibrary.xsd" />
	</sws:dynamic-wsdl>
	<!-- end configuration for dynamic generation of soap webservice wsdl -->

	<!-- configuration for sql database in memory -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:mydb" />
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxOpenPreparedStatements" value="10" />
	</bean>

</beans>